{% extends 'baze.html' %}
{% load static %}

{% block title %}
    Commentaire
{% endblock  %}

<main id="main">
  {% block breadcrumbs %}
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('{% static 'assetts/img/breadcrumbs-bg.jpg' %} ');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">
        <h2>
          {% block h2 %}
            Ajouter Un commentaire
          {% endblock h2 %}
        </h2>
      </div>
    </div>
  {% endblock breadcrumbs %}
  
  {% block content %}
    <section id="get-started" class="get-started section-bg">
      <div class="container">
        <div class="row justify-content-between gy-4">
          <div class="col-lg-12" data-aos="fade">
            <form method="POST" enctype="multipart/form-data" class="php-email-form">
              {% csrf_token %}
                <div class="row gy-4">
                  <div class="col-md-12">
                    <label>Name</label>
                    {{form.namuser}}
                  </div>
                  <div class="col-md-12">
                    <label>Message</label>
                    {{form.body}}
                  </div>
                  <div class="col-md-12 text-center">
                    <button type="submit">Envoyer<i class="fa fa-paper-plane"></i></button>
                  </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  {% endblock %}
</main>